openapi: 3.0.0
servers:
  - url: 'http://api.kent.network/'
  - url: 'https://api.kent.network/'
  - url: 'http://localhost:7777/'
info:
  description: API interface for Kent.Network
  version: 0.0.1
  title: Kent Network API
  termsOfService: 'http://swagger.io/terms/'
  contact:
    email: mail@danielknox.co.uk
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
tags:
  - name: devices
    description: Everything about devices
    externalDocs:
      description: Find out more
      url: 'http://swagger.io'
  - name: sensors
    description: Everything about sensors
  - name: data
    description: All the readings
paths:
  /login:
    post:
      description: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Login'
      responses:
        '200':
          description: Login OK.
        '401':
          description: Failed to login
  /devices:
    get:
      security:
        - bearerAuth: []
      tags:
        - devices
      summary: All devices
      operationId: getDevices
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/definitions/Meta'
                  items:
                    type: array
                    items:
                      $ref: '#/definitions/Device'
        '500':
          description: Internal server error
  '/devices/{deviceId}':
    get:
      security:
        - bearerAuth: []
      tags:
        - devices
      summary: A device
      description: Returns a single device
      operationId: getDeviceById
      parameters:
        - name: deviceId
          in: path
          description: ID of device
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  items:
                    $ref: '#/components/schemas/Device'
        '404':
          description: Device not found
        '500':
          description: Internal server error
  '/devices/{deviceId}/sensors':
    get:
      security:
        - bearerAuth: []
      tags:
        - devices
      summary: All sensors for a device
      description: Returns the sensors of a single device
      operationId: getSensorsByDeviceId
      parameters:
        - name: deviceId
          in: path
          description: ID of device
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Sensor'
        '404':
          description: Device not found or device currently has no sensors
  '/devices/{deviceId}/readings':
    get:
      security:
        - bearerAuth: []
      tags:
        - devices
      summary: All readings for a device
      description: Returns the readings for a device
      operationId: getReadingsbyDeviceId
      parameters:
        - name: deviceId
          in: path
          description: ID of device
          required: true
          schema:
            type: string
        - name: latest
          in: query
          description: Return latest reading
          required: false
          schema:
            type: boolean
        - name: today
          in: query
          description: Return readings for today
          required: false
          schema:
            type: string
        - name: date
          in: query
          description: Return readings for a date
          required: false
          schema:
            type: string
        - name: startdate
          in: query
          description: >-
            Return readings from a date.
          required: false
          schema:
            type: string
            format: date-time
        - name: endDate
          in: query
          description: >-
            Return readings until a date. Must be used together with
            `startDate`
          required: false
          schema:
            type: string
        - name: since
          in: query
          description: Return readings since a date
          required: false
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Reading'
        '404':
          description: Device not found or device has sensors with no readings
        '400':
          description: User parameter error
  /sensors:
    get:
      security:
        - bearerAuth: []
      tags:
        - sensors
      summary: All sensors for all devices
      description: 'Gets the sensors, can be filtered'
      operationId: findSensors
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Sensor'
        '500':
          description: Internal server error
  '/sensors/{sensorId}':
    get:
      security:
        - bearerAuth: []
      tags:
        - sensors
      summary: A sensor
      description: Returns a single sensor
      operationId: getSensorById
      parameters:
        - name: sensorId
          in: path
          description: ID of sensor
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  items:
                    $ref: '#/components/schemas/Sensor'
        '404':
          description: Sensor not found
        '500':
          description: Internal server error
  '/sensors/{sensorId}/readings':
    get:
      security:
        - bearerAuth: []
      tags:
        - sensors
      summary: All readings of a sensor
      description: Returns the readings of a sensor
      operationId: getReadingsbySensorId
      parameters:
        - name: sensorId
          in: path
          description: ID of sensor
          required: true
          schema:
            type: string
        - name: latest
          in: query
          description: Return latest reading
          required: false
          schema:
            type: string
        - name: today
          in: query
          description: Return readings for today
          required: false
          schema:
            type: boolean
        - name: startdate
          in: query
          description: Return readings from a date
          required: false
          schema:
            type: string
            format: date-time
        - name: startDate
          in: query
          description: >-
            Return readings untill a date. 
          required: false
          schema:
            type: string
            format: date-time
        - name: endDate
          in: query
          description: >-
            Return readings until a date. Must be used together with
            `startDate`
          required: false
          schema:
            type: string
            format: date-time
        - name: since
          in: query
          description: Return readings since a date
          required: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Reading'
        '404':
          description: Sensor not found or sensor has no readings
        '500':
            description: Internal server error
        '400':
          description: User parameter error
  /data/readings:
    get:
      security:
        - bearerAuth: []
      tags:
        - data
      summary: All readings for all sensors across all devices
      description: Returns the readings of all sensors and devices
      operationId: getReadings
      parameters:
        - name: parentDeviceId
          in: query
          description: Filter for sensor by parent device ID
          required: false
          schema:
            type: string
        - name: latest
          in: query
          description: Return latest reading
          required: false
          schema:
            type: string
        - name: today
          in: query
          description: Return readings for today
          required: false
          schema:
            type: string
        - name: date
          in: query
          description: Return readings for a date
          required: false
          schema:
            type: string
        - name: startdate
          in: query
          description: >-
            Return readings from and to a date. Must be used together with
            `endDate`
          required: false
          schema:
            type: string
        - name: endDate
          in: query
          description: >-
            Return readings from and to a date. Must be used together with
            `startDate`
          required: false
          schema:
            type: string
            format: date-time
        - name: since
          in: query
          description: Return readings since a date
          required: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Reading'
        '404':
          description: No sensors found or system has sensors with no readings
externalDocs:
  description: Link to usage guide
  url: 'https://kent.network'
components:
  securitySchemes:
    bearerAuth:            # arbitrary name for the security scheme
      type: http
      scheme: bearer
      bearerFormat: JWT    # optional, arbitrary value for documentation purposes 
  schemas:
    Login:
      type: object
      properties:
        "username":
           type: string
        "password":
           type: string
    Sensor:
      type: object
      properties:
        '@id':
          type: string
          description: URI of sensor
        parentDevice:
          type: string
          description: the ID of the parent device
        updateInterval:
          type: number
          format: integer
        sensorType:
          type: string
        unit:
          type: string
    Meta:
      type: object
      properties:
        publisher:
          type: string
        license:
          type: string
        version:
          type: string
        resultLimit:
          type: integer
          format: int64
    Reading:
      type: object
      properties:
        dateTime:
          type: string
        sensor:
          type: string
          description: URI of sensor
        value:
          type: number  
          format: float
    Device:
      type: object
      properties:
        '@id':
          type: string
          description: URI of device
        friendlyName:
          type: string
        ttn:
          type: object
          properties:
            app_id:
              type: string
            dev_id:
              type: string
            hardware_serial:
              type: string
        location:
          type: object
          properties:
            nearestTown:
              type: string
            catchmentID:
              type: string
            physicalID:
              type: string
            lat:
              type: number
              format: float
            lon:
              type: number
              format: float
            altitude:
              type: number
              format: integer
            easting:
              type: string
            northing:
              type: string
        hardwareRef:
          type: string
        batteryType:
          type: string


